.header-container{
	.wrapper{
		background:#000;
		border-bottom: solid 1px #fff;
		position: fixed;
		width: 100%;
		z-index:1000;
		padding: 0 3%;
		color:$color-light;
	}
	.world-icon{
		background: url("../images/bus-icon-white.svg") no-repeat scroll 0 0 transparent;
		padding: 12px 28px;
	}
	.title{
		float:left;
	}
	.download-button{
		float:right;
		margin:16px 40px 0 0;
	}
}
@media(min-width:980px){
	.download-button{
		display:none;
	}	
}