/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'neoretrodrawregular';
  src: url("../fonts/neoretrodraw/NEORD___-webfont.eot");
  src: url("../fonts/neoretrodraw/NEORD___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/neoretrodraw/NEORD___-webfont.woff") format("woff"), url("../fonts/neoretrodraw/NEORD___-webfont.ttf") format("truetype"), url("../fonts/neoretrodraw/NEORD___-webfont.svg#neoretrodrawregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'neoretrofillregular';
  src: url("../fonts/neoretrofill/NEORF___-webfont.eot");
  src: url("../fonts/neoretrofill/NEORF___-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/neoretrofill/NEORF___-webfont.woff") format("woff"), url("../fonts/neoretrofill/NEORF___-webfont.ttf") format("truetype"), url("../fonts/neoretrofill/NEORF___-webfont.svg#neoretrofillregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icon-worksregular';
  src: url("../fonts/icon-works/icon-works-webfont.eot");
  src: url("../fonts/icon-works/icon-works-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/icon-works/icon-works-webfont.woff") format("woff"), url("../fonts/icon-works/icon-works-webfont.ttf") format("truetype"), url("../fonts/icon-works/icon-works-webfont.svg#icon-worksregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/components/global/_buttons.scss */
.buttons {
  padding: 5px 8px;
}
/* line 3, ../sass/components/global/_buttons.scss */
.buttons.download-button {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: normal;
}

/* line 1, ../sass/components/global/_elements.scss */
body {
  color: white;
  font-size: 22px;
  font-family: 'Arial';
  background: #000;
}

/* line 8, ../sass/components/global/_elements.scss */
a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

/* line 13, ../sass/components/global/_elements.scss */
h1 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 7vw;
}

/* line 18, ../sass/components/global/_elements.scss */
h2 {
  font-size: 3vw;
}

/* line 21, ../sass/components/global/_elements.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/components/global/_elements.scss */
li {
  list-style: none;
  margin-bottom: 0.5em;
}

/* line 31, ../sass/components/global/_elements.scss */
.right {
  float: right;
}

/* line 32, ../sass/components/global/_elements.scss */
.left {
  float: left;
}

/* line 33, ../sass/components/global/_elements.scss */
.flex-reverse {
  flex-direction: row-reverse;
}

/* line 34, ../sass/components/global/_elements.scss */
.highlighted {
  color: #bd0f52;
}

/* line 35, ../sass/components/global/_elements.scss */
.icon-works {
  font-family: 'icon-worksregular';
  font-size: 7vw;
}

/* line 41, ../sass/components/global/_elements.scss */
.downloads {
  margin: 112px auto;
}

/* line 44, ../sass/components/global/_elements.scss */
.downloads a {
  background: transparent url(../images/sprite-download.png) no-repeat left top;
  padding: 16px 110px;
  text-align: center;
}

/* line 49, ../sass/components/global/_elements.scss */
.downloads a.google-play {
  background: transparent url(../images/sprite-download.png) no-repeat left -59px;
}

/* line 52, ../sass/components/global/_elements.scss */
.downloads a.windows-store {
  background: transparent url(../images/sprite-download.png) no-repeat left -118px;
}

@media (max-width: 980px) {
  /* line 58, ../sass/components/global/_elements.scss */
  h1 {
    font-size: 14vw;
  }

  /* line 59, ../sass/components/global/_elements.scss */
  h2 {
    font-size: 9vw;
  }
}
/* line 1, ../sass/components/global/_parallax.scss */
.parallax {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/components/global/_layout.scss */
.main-wrapper {
  width: 750px;
  margin: 0 auto;
}

/* line 5, ../sass/components/global/_layout.scss */
.secondary-wrapper {
  width: 660px;
  margin: 0 auto;
  position: relative;
}

/* line 2, ../sass/components/global/_header-container.scss */
.header-container .wrapper {
  background: #000;
  border-bottom: solid 1px #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 0 3%;
  color: #fff;
}
/* line 11, ../sass/components/global/_header-container.scss */
.header-container .world-icon {
  background: url("../images/new1.png") no-repeat scroll 0 0 transparent;
  padding: 12px 28px;
}
/* line 15, ../sass/components/global/_header-container.scss */
.header-container .title {
  float: left;
  font-family: 'neoretrofillregular';
}
/* line 19, ../sass/components/global/_header-container.scss */
.header-container .download-button {
  float: right;
  margin: 16px 40px 0 0;
}

@media (min-width: 980px) {
  /* line 25, ../sass/components/global/_header-container.scss */
  .download-button {
    display: none;
  }
}
/* line 1, ../sass/components/global/_footer.scss */
.footer {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
  background: #000;
  border-top: solid 1px #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  color: #fff;
  clear: both;
}
/* line 11, ../sass/components/global/_footer.scss */
.footer .downloads {
  float: left;
  margin: 20px 0 0;
  padding: 8px 0;
}
/* line 15, ../sass/components/global/_footer.scss */
.footer .downloads a {
  background-size: 115px;
  padding: 9px 70px;
}
/* line 18, ../sass/components/global/_footer.scss */
.footer .downloads a.google-play {
  background-size: 115px;
}
/* line 21, ../sass/components/global/_footer.scss */
.footer .downloads a.windows-store {
  background-size: 115px;
}
/* line 25, ../sass/components/global/_footer.scss */
.footer .downloads .google-play {
  background-position: left -35px;
}
/* line 28, ../sass/components/global/_footer.scss */
.footer .downloads .windows-store {
  background-position: left -70px;
}
/* line 32, ../sass/components/global/_footer.scss */
.footer .social-icons {
  width: 225px;
  margin: 0 auto;
  float: right;
}
/* line 36, ../sass/components/global/_footer.scss */
.footer .social-icons a {
  width: 65px;
  height: 61px;
  display: inline-block;
}
/* line 41, ../sass/components/global/_footer.scss */
.footer .social-icons li {
  display: inline-block;
}
/* line 44, ../sass/components/global/_footer.scss */
.footer .social-icons .facebook {
  background: url("../images/nav_fa_white.svg") no-repeat scroll 0 0 transparent;
}
/* line 47, ../sass/components/global/_footer.scss */
.footer .social-icons .linkedin {
  background: url("../images/nav_in_white.svg") no-repeat scroll 0 0 transparent;
}
/* line 50, ../sass/components/global/_footer.scss */
.footer .social-icons .twitter {
  background: url("../images/nav_tw_white.svg") no-repeat scroll 0 0 transparent;
}

@media (max-width: 980px) {
  /* line 56, ../sass/components/global/_footer.scss */
  .footer {
    position: static;
    font-size: 30px;
  }
  /* line 59, ../sass/components/global/_footer.scss */
  .footer .social-icons {
    float: none;
  }
  /* line 61, ../sass/components/global/_footer.scss */
  .footer .social-icons .facebook {
    background-size: 90px;
    width: 85;
    height: 81;
  }
  /* line 66, ../sass/components/global/_footer.scss */
  .footer .social-icons .twitter {
    background-size: 90px;
    width: 85;
    height: 81;
  }
  /* line 71, ../sass/components/global/_footer.scss */
  .footer .social-icons .linkedin {
    background-size: 90px;
    width: 85;
    height: 81;
  }

  /* line 78, ../sass/components/global/_footer.scss */
  .downloads {
    display: none;
  }
}
/* line 2, ../sass/components/global/_home-page.scss */
.home-page .home-section {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 300px;
  background-size: 100%;
}
/* line 12, ../sass/components/global/_home-page.scss */
.home-page .dark-frame {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
  margin: 0 auto;
  padding: 0 13% 45px;
  border: solid 1px;
  border-left: none;
  border-right: none;
}
/* line 19, ../sass/components/global/_home-page.scss */
.home-page .dark-frame h2 {
  text-align: center;
}
/* line 22, ../sass/components/global/_home-page.scss */
.home-page .justify-text {
  text-align: justify;
}
/* line 24, ../sass/components/global/_home-page.scss */
.home-page .home-section-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 15% 0 0 0;
}
/* line 29, ../sass/components/global/_home-page.scss */
.home-page .home-bg {
  position: relative;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10000;
}
/* line 38, ../sass/components/global/_home-page.scss */
.home-page .home-bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

@media (max-width: 980px) {
  /* line 53, ../sass/components/global/_home-page.scss */
  .home-page .home-section {
    background-attachment: scroll;
    background-size: auto 100%;
    font-size: 6vw;
  }
}
/* line 1, ../sass/components/content/_brand-message.scss */
.brand-message {
  padding: 0 50px;
  margin-bottom: 45px;
}
/* line 4, ../sass/components/content/_brand-message.scss */
.brand-message h2 {
  margin: 0 auto;
  font-family: 'lg_smartlight';
  font-size: 48px;
  color: #6d6e71;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 60px;
}

/* line 1, ../sass/components/content/_secondary-nav.scss */
.secondary-nav {
  position: relative;
  height: 153px;
  background: #FFF;
}
/* line 5, ../sass/components/content/_secondary-nav.scss */
.secondary-nav.secondary-wrapper {
  width: 960px;
}
/* line 6, ../sass/components/content/_secondary-nav.scss */
.secondary-nav.sticky-nav {
  position: fixed;
  z-index: 500;
  margin: 0;
  left: 0;
  width: 100%;
  top: 0;
}
/* line 14, ../sass/components/content/_secondary-nav.scss */
.secondary-nav .lg-logo {
  float: left;
}
/* line 15, ../sass/components/content/_secondary-nav.scss */
.secondary-nav .active {
  color: #000;
  font-family: 'lg_smartsemibold';
  display: block;
}
/* line 20, ../sass/components/content/_secondary-nav.scss */
.secondary-nav ul {
  list-style: none;
  font-size: 48px;
  font-family: 'lg_smartlight';
  margin: 62px 0 0 0;
  padding: .2em 68px;
  border: 3px solid #eeefef;
  z-index: 500;
  position: absolute;
  right: 0;
  background: #FFF;
}
/* line 31, ../sass/components/content/_secondary-nav.scss */
.secondary-nav ul a {
  color: #999;
  font-weight: normal;
}
/* line 36, ../sass/components/content/_secondary-nav.scss */
.secondary-nav li {
  margin-right: 40px;
}
/* line 38, ../sass/components/content/_secondary-nav.scss */
.secondary-nav li a {
  display: none;
}
/* line 40, ../sass/components/content/_secondary-nav.scss */
.secondary-nav .why-verizon {
  float: right;
  text-transform: uppercase;
  color: #666;
  margin: 7px 0 0 0;
  position: absolute;
  right: 0;
  font-size: 28px;
}

/* line 1, ../sass/components/content/_main-intro.scss */
.main-intro {
  background: url(../images/main-background-3.jpg) 50% 0;
  text-align: center;
}
/* line 4, ../sass/components/content/_main-intro.scss */
.main-intro h1 {
  text-transform: uppercase;
  font-family: 'neoretrodrawregular';
  font-weight: normal;
}
/* line 9, ../sass/components/content/_main-intro.scss */
.main-intro .main-intro-wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 25% 0 0 0;
}

/* line 1, ../sass/components/content/_install-module.scss */
.install-module {
  background: url(../images/re_3.png) 50% 0;
  background-size: 100%;
}

/* line 1, ../sass/components/content/_steps-module.scss */
.steps-module {
  background: url(../images/new7.png) 50% 0;
  background-size: 100%;
}

/* line 1, ../sass/components/content/_how-works.scss */
.how-works {
  background: url(../images/new5.png) 50% 0;
  background-size: 100%;
}

/* line 1, ../sass/components/content/_rounded-container.scss */
.rounded-container {
  display: inline-flex;
  list-style: none;
}
/* line 4, ../sass/components/content/_rounded-container.scss */
.rounded-container .circle {
  float: left;
  margin: 0 15px 0 0;
  width: 140px;
  height: 35px;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  padding: 43px 0 62px;
  line-height: 1em;
  border: solid 1px;
}
/* line 19, ../sass/components/content/_rounded-container.scss */
.rounded-container .icon-works {
  display: block;
  font-size: 47px;
  margin: 0 0 0.5em 0;
}
/* line 24, ../sass/components/content/_rounded-container.scss */
.rounded-container .popup-desc {
  background: red;
  display: none;
}

/* line 2, ../sass/components/content/_swiper.scss */
.swiper .swiper-container {
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
  width: 100%;
  height: 100%;
}
/* line 10, ../sass/components/content/_swiper.scss */
.swiper .swiper-frame-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25%;
}
/* line 17, ../sass/components/content/_swiper.scss */
.swiper .swiper-image {
  width: 100%;
}
/* line 21, ../sass/components/content/_swiper.scss */
.swiper .swiper-container-no-flexbox .swiper-slide {
  float: left;
}
/* line 24, ../sass/components/content/_swiper.scss */
.swiper .swiper-container-no-flexbox > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 32, ../sass/components/content/_swiper.scss */
.swiper .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 52, ../sass/components/content/_swiper.scss */
.swiper .swiper-container-android .swiper-slide, .swiper .swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

/* line 62, ../sass/components/content/_swiper.scss */
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 69, ../sass/components/content/_swiper.scss */
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* line 77, ../sass/components/content/_swiper.scss */
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Auto Height */
/* line 86, ../sass/components/content/_swiper.scss */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

/* line 90, ../sass/components/content/_swiper.scss */
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}

/* a11y */
/* line 102, ../sass/components/content/_swiper.scss */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
/* line 111, ../sass/components/content/_swiper.scss */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

/* line 115, ../sass/components/content/_swiper.scss */
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Arrows */
/* line 120, ../sass/components/content/_swiper.scss */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 135, ../sass/components/content/_swiper.scss */
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* line 141, ../sass/components/content/_swiper.scss */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

/* line 147, ../sass/components/content/_swiper.scss */
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

/* line 151, ../sass/components/content/_swiper.scss */
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* line 155, ../sass/components/content/_swiper.scss */
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

/* line 161, ../sass/components/content/_swiper.scss */
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

/* line 165, ../sass/components/content/_swiper.scss */
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Pagination Styles */
/* line 170, ../sass/components/content/_swiper.scss */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* line 183, ../sass/components/content/_swiper.scss */
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

/* Common Styles */
/* line 187, ../sass/components/content/_swiper.scss */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 100px;
  left: 0;
  width: 100%;
}

/* Bullets */
/* line 195, ../sass/components/content/_swiper.scss */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

/* line 203, ../sass/components/content/_swiper.scss */
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* line 213, ../sass/components/content/_swiper.scss */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

/* line 216, ../sass/components/content/_swiper.scss */
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

/* line 219, ../sass/components/content/_swiper.scss */
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

/* line 223, ../sass/components/content/_swiper.scss */
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

/* line 226, ../sass/components/content/_swiper.scss */
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

/* line 229, ../sass/components/content/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}

/* line 238, ../sass/components/content/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

/* line 242, ../sass/components/content/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

/* Progress */
/* line 246, ../sass/components/content/_swiper.scss */
.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

/* line 250, ../sass/components/content/_swiper.scss */
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

/* line 267, ../sass/components/content/_swiper.scss */
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

/* line 274, ../sass/components/content/_swiper.scss */
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

/* line 280, ../sass/components/content/_swiper.scss */
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

/* line 286, ../sass/components/content/_swiper.scss */
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

/* line 289, ../sass/components/content/_swiper.scss */
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}

/* line 292, ../sass/components/content/_swiper.scss */
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}

/* 3D Container */
/* line 296, ../sass/components/content/_swiper.scss */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

/* line 302, ../sass/components/content/_swiper.scss */
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 314, ../sass/components/content/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

/* line 326, ../sass/components/content/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* line 338, ../sass/components/content/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* line 350, ../sass/components/content/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* line 362, ../sass/components/content/_swiper.scss */
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* Firefox 16+, IE10, Opera 12.50+ */
}

/* Coverflow */
/* line 375, ../sass/components/content/_swiper.scss */
.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* Cube + Flip */
/* line 381, ../sass/components/content/_swiper.scss */
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

/* line 385, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

/* line 394, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 398, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* line 404, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Cube */
/* line 419, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

/* line 428, ../sass/components/content/_swiper.scss */
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

/* line 434, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

/* line 441, ../sass/components/content/_swiper.scss */
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

/* Fade */
/* line 454, ../sass/components/content/_swiper.scss */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 461, ../sass/components/content/_swiper.scss */
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

/* line 468, ../sass/components/content/_swiper.scss */
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

/* line 471, ../sass/components/content/_swiper.scss */
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

/* Scrollbar */
/* line 476, ../sass/components/content/_swiper.scss */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

/* line 482, ../sass/components/content/_swiper.scss */
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

/* line 490, ../sass/components/content/_swiper.scss */
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

/* line 498, ../sass/components/content/_swiper.scss */
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

/* line 507, ../sass/components/content/_swiper.scss */
.swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* Preloader */
/* line 511, ../sass/components/content/_swiper.scss */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

/* line 527, ../sass/components/content/_swiper.scss */
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 538, ../sass/components/content/_swiper.scss */
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
