/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/components/global/_header-container.scss */
.header-container .wrapper {
  background: grey;
  border-bottom: solid 3px yellow;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 0 3%;
}

/* line 1, ../sass/components/global/_footer-container.scss */
.footer-container {
  background: grey;
  border-top: solid 3px yellow;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  clear: both;
}

/* line 1, ../sass/components/global/_layout.scss */
.main-wrapper {
  width: 750px;
  margin: 0 auto;
}

/* line 5, ../sass/components/global/_layout.scss */
.secondary-wrapper {
  width: 660px;
  margin: 0 auto;
  position: relative;
}

/* line 2, ../sass/components/global/_home-page.scss */
.home-page .home-section {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 300px;
  background-size: 100% 100%;
}
/* line 12, ../sass/components/global/_home-page.scss */
.home-page .home-section-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 15% 0 0 0;
}
/* line 17, ../sass/components/global/_home-page.scss */
.home-page .home-bg {
  position: relative;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10000;
}
/* line 26, ../sass/components/global/_home-page.scss */
.home-page .home-bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

@media (max-width: 980px) {
  /* line 41, ../sass/components/global/_home-page.scss */
  .home-page .home-section {
    background-attachment: scroll;
    background-size: auto 100%;
    font-size: 6vw;
  }
}
/* line 1, ../sass/components/global/_buttons.scss */
.buttons {
  padding: 5px 8px;
}
/* line 3, ../sass/components/global/_buttons.scss */
.buttons.download-button {
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-weight: normal;
}

/* line 1, ../sass/components/global/_elements.scss */
body {
  font-size: 22px;
  font-family: 'neoretrofillregular';
  background: #000;
}

/* line 7, ../sass/components/global/_elements.scss */
a {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

/* line 12, ../sass/components/global/_elements.scss */
h1 {
  margin: 0px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 7vw;
}

/* line 18, ../sass/components/global/_elements.scss */
h2 {
  font-size: 3vw;
}

/* line 21, ../sass/components/global/_elements.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/components/global/_elements.scss */
li {
  list-style: none;
  margin-bottom: 0.5em;
}

/* line 31, ../sass/components/global/_elements.scss */
.right {
  float: right;
}

/* line 32, ../sass/components/global/_elements.scss */
.left {
  float: left;
}

/* line 33, ../sass/components/global/_elements.scss */
.flex-reverse {
  flex-direction: row-reverse;
}

/* line 34, ../sass/components/global/_elements.scss */
.highlighted {
  color: #bd0f52;
}

/* line 35, ../sass/components/global/_elements.scss */
.icon-works {
  font-family: 'icon-worksregular';
  font-size: 7vw;
}

@media (max-width: 980px) {
  /* line 43, ../sass/components/global/_elements.scss */
  h1 {
    font-size: 14vw;
  }

  /* line 44, ../sass/components/global/_elements.scss */
  h2 {
    font-size: 9vw;
  }
}
/* line 1, ../sass/components/global/_parallax.scss */
.parallax {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/components/content/_brand-message.scss */
.brand-message {
  padding: 0 50px;
  margin-bottom: 45px;
}
/* line 4, ../sass/components/content/_brand-message.scss */
.brand-message h2 {
  margin: 0 auto;
  font-family: 'lg_smartlight';
  font-size: 48px;
  color: #6d6e71;
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 60px;
}

/* line 1, ../sass/components/content/_secondary-nav.scss */
.secondary-nav {
  position: relative;
  height: 153px;
  background: #FFF;
}
/* line 5, ../sass/components/content/_secondary-nav.scss */
.secondary-nav.secondary-wrapper {
  width: 960px;
}
/* line 6, ../sass/components/content/_secondary-nav.scss */
.secondary-nav.sticky-nav {
  position: fixed;
  z-index: 500;
  margin: 0;
  left: 0;
  width: 100%;
  top: 0;
}
/* line 14, ../sass/components/content/_secondary-nav.scss */
.secondary-nav .lg-logo {
  float: left;
}
/* line 15, ../sass/components/content/_secondary-nav.scss */
.secondary-nav .active {
  color: #000;
  font-family: 'lg_smartsemibold';
  display: block;
}
/* line 20, ../sass/components/content/_secondary-nav.scss */
.secondary-nav ul {
  list-style: none;
  font-size: 48px;
  font-family: 'lg_smartlight';
  margin: 62px 0 0 0;
  padding: .2em 68px;
  border: 3px solid #eeefef;
  z-index: 500;
  position: absolute;
  right: 0;
  background: #FFF;
}
/* line 31, ../sass/components/content/_secondary-nav.scss */
.secondary-nav ul a {
  color: #999;
  font-weight: normal;
}
/* line 36, ../sass/components/content/_secondary-nav.scss */
.secondary-nav li {
  margin-right: 40px;
}
/* line 38, ../sass/components/content/_secondary-nav.scss */
.secondary-nav li a {
  display: none;
}
/* line 40, ../sass/components/content/_secondary-nav.scss */
.secondary-nav .why-verizon {
  float: right;
  text-transform: uppercase;
  color: #666;
  margin: 7px 0 0 0;
  position: absolute;
  right: 0;
  font-size: 28px;
}

/* line 1, ../sass/components/content/_main-intro.scss */
.main-intro {
  color: white;
  background: url(../images/re_3.png) 50% 0;
  background-size: 100%;
  background-attachment: fixed;
  padding-bottom: 300px;
  text-align: center;
  position: fixed;
  width: 100%;
}
/* line 12, ../sass/components/content/_main-intro.scss */
.main-intro .main-intro-wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 25% 0 0 0;
}

/* line 1, ../sass/components/content/_services.scss */
.main-intro {
  color: white;
  background: url(../images/re_2.png) 50% 0;
  background-size: 100%;
  text-align: center;
  width: 100%;
}

/* line 1, ../sass/components/content/_steps-module.scss */
.steps-module {
  background: url(../images/re_1.png) 50% 0;
  background-size: 100%;
  width: 100%;
}

/* line 1, ../sass/components/content/_rounded-container.scss */
.rounded-container {
  display: inline-flex;
  list-style: none;
}
/* line 4, ../sass/components/content/_rounded-container.scss */
.rounded-container .circle {
  float: left;
  margin: 0 15px 0 0;
  width: 140px;
  height: 35px;
  background: #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  padding: 43px 0 62px;
  line-height: 1em;
  border: solid 1px;
}
/* line 19, ../sass/components/content/_rounded-container.scss */
.rounded-container .icon-works {
  display: block;
  font-size: 47px;
  margin: 0 0 0.5em 0;
}
/* line 24, ../sass/components/content/_rounded-container.scss */
.rounded-container .popup-desc {
  background: red;
  display: none;
}

/* line 1, ../sass/components/content/_install-module.scss */
.install-module {
  background: url(../images/re_2.png) 50% 0;
  background-size: 100%;
  width: 100%;
}

/* line 1, ../sass/components/content/_how-works.scss */
.how-works {
  background: url(../images/re_1.png) 50% 0;
  background-size: 100%;
  width: 100%;
}
