.main-intro{
	color:white;
	background:url(../images/_image5.png)50% 0;
	background-attachment:fixed;
	padding-bottom:300px;
	text-align:center;
	position:fixed;
	width:100%;

    .main-intro-wrapper{
    	width:50%;
    	margin:0 auto;
    	padding: 25% 0 0 0;
    }
}