.main-intro{
	background: url(../images/main-background-3.jpg)  50% 0;
    text-align: center;
    h1{
    	text-transform: uppercase;
        font-family: 'neoretrodrawregular';
        font-weight: normal;
    }
    .main-intro-wrapper{
    	width:50%;
    	margin:0 auto;
    	padding: 25% 0 0 0;
    }
}
