.secondary-nav{
	position: relative;
	height: 153px;
	background:#FFF;
	&.secondary-wrapper{width:960px;}
	&.sticky-nav{
	  position: fixed;
	  z-index: 500;
	  margin: 0;
	  left: 0;
	  width:100%;
	  top:0;
	}
	.lg-logo{float:left;}
	.active{
		color:#000;
		font-family: 'lg_smartsemibold';
		display:block;
	}
	ul{
		list-style: none;
		font-size: 48px;
		font-family: 'lg_smartlight';
		margin: 62px 0 0 0;
		padding: .2em 68px;
		border: 3px solid #eeefef;
		z-index: 500;
		position: absolute;
		right: 0;
		background:#FFF;
		a{
			color:#999;
			font-weight: normal;
		}
	}
	li{
		margin-right: 40px;
		a{display:none;}
	}
	.why-verizon{
		float:right;
		text-transform: uppercase;
		color:#666;
		margin: 7px 0 0 0;
		position: absolute;
		right:0;
		font-size:28px;

	}
}